:root{
    --vermelho: rgb(255, 17, 17);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    box-sizing: border-box;
}

/*HEADER*/
header .container{
    width: 90%;
    margin: auto;
}

.container{
    width: 90%;
    margin: auto;
}

nav{
    margin-top: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    height: 60px;
}

.logo img{
    width: 16.6%;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn1{
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 25px;
    padding: 7px;
    z-index: 2;
}

#btn2{
    font-weight: bold;
    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
    border-radius: 3px;
    color: white;
    margin-right: 30px;
    padding: 6px 13px;
}

#fundo{
    position: relative;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5) 100%), url(../img/fundoNetflix.jpg);
    height: 900px;
    width: 100%;
    overflow: auto;
    display: flex;
}

h1,p{
    color: white;
}

/*TEXT*/

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text h1{
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    margin-bottom: 10px;
}

p:first-of-type{
    font-size: 25px;
    margin-bottom: 20px;
}

p:last-of-type{
    font-size: 18px;
    margin-bottom: 10px;
}

.email{
    display: flex;
    flex-direction: row-reverse;
}

.email input{
    position: relative;
    height: 7.5vh;
    width: 760px;
}

.email button{
    background-color: var(--vermelho);
    border: none;
    color: white;
    position: absolute;
    height: 7.5vh;
    width: 200px;
    font-size: 26px;
}