:root{
    --vermelho: rgb(255, 17, 17);
    --cinza: rgb(36, 35, 35);
}

*{
    margin: 0;
    padding: 0;
    font-family:  Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #222;
}

/*HEADER*/
header{
    width: 100%;
}

header .container{
    width: 94%;
    margin: auto;
}

#fundo{
    width: 100%;
}

#fundo .container{
    width: 63%;
    margin: auto;
}

.container{
    width: 82%;
    margin: auto;
}

i{
    color: #fff;
}

nav{
    margin-top: 22px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    width: 95%;
    height: 60px;
}

.logo img{
    width: 8.4375rem;
    height: 2.2125rem;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 25px;
    padding: 7px;
    z-index: 2;
}

#btn1 i{
    margin-top: 2px;
    font-size: 20px;
    margin-left: 5px;
}

#btn2{
    font-weight: bold;
    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
    border-radius: 3px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
}

#fundo{
    position: relative;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5) 100%), url(../img/fundoNetflix.jpg);
    height: 750px;
    width: 100%;
    display: flex;
}

h1,p{
    color: white;
}

/*TEXT*/

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 83px;
}

.text h1{
    width: 80%;
    font-size: 3.1rem;
    text-align: center;
    margin-bottom: 25px;
}

.text p:first-of-type{
    font-size: 26px;
    margin-bottom: 30px;
}

.text p:last-of-type{
    font-size: 20px;
    margin-bottom: 20px;
}

.email{
    display: flex;
    flex-direction: row-reverse;
}

.email input{
    position: relative;
    height: 7.5vh;
    width: 650px;
    font-size: 16px;
    font-weight: 500;
    color: #888;
    padding-left: 10px;
}

.email input:last-of-type{
    margin-bottom: 80px;
}

.email button{
    background-color: var(--vermelho);
    box-shadow: 1px 2px 3px #111111;
    border: none;
    color: white;
    position: absolute;
    height: 7.5vh;
    width: 190px;
    font-size: 26px;
}

/*PROPAGANDA*/

.prop{
    margin-top: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.television, .celfone, .dispositivos, .questions{
    width: 100%;
    background-color: #000;
}

.television .left{
    margin-right: 25px;
}

.left, .right{
    margin: 30px;
}

.television, .celfone{
    height: 470px;
}

.television img{
    height: 44vh;
    position: relative;
    z-index: 2;
}

.left h1, .right h1{
    font-weight: bold;
    font-size: 53px;
    margin-bottom: 10px;
}

.television .container .prop .right{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#video1{
    margin-top: 8.5vh;
    margin-left: 7.5vh;
    height: 25.5%;
    position: absolute;
}

.left p, .right p{
    width: 100%;
    font-size: 26px;
    text-align: left;
}

.celfone img{
    height: 390px;
}

.celfone .container .prop {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.celfone .container .prop .right{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.imagem{
    position: relative;
}

.btnStringer{
    background-color: #000;
    position: absolute;
    display: flex;
    border-radius: 10px;
    height: 105px;
    width: 330px;
    border: 3px #333 solid;
    box-shadow: 0 0 2em 0 #000;
    transform: translateY(-30%);
}

.btnStringer::after{
    margin: auto;
    width: 3em;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    flex-shrink: 0;
}

.box_image, .text_box{
    margin: auto;
}

.btnStringer .text_box h4{
    color: white;
}

.btnStringer .text_box p{
    font-size: 15px;
    color: #0071eb;
}

.btnStringer img{
    height: 80px;
}

.dispositivos{
    height: 520px;
}

.dispositivos img{
    height: 43vh;
    position: relative;
    z-index: 2;
}

#video2{
    height: 20.5%;
    position: absolute;
    margin-top: 4vh;
    margin-left: 10vh;
}

.dispositivos .left, .dispositivos .right{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.dispositivos .container .prop .left p{
    width: 90%;
}

.questions{
    height: 100%;
}

.prop_diferente{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prop_diferente h1{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 53px;
    width: 100%;
}

.prop_diferente p{
    margin-top: 60px;  
    text-align: center;
    width: 100%;
}

.prop_diferente p:last-of-type{
    font-size: 18px;
    margin-bottom: 20px;
}

.question{
    background-color: #333;
    width: 70%;
    margin-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.box{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.show{
    border-top: #000 1px solid;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.question .ocultar{
    display: none;
}

.question .box p{
    margin-top: 22px;
    color: #fff;
    font-size: 25px;
    text-align: left;
}

.question .show p{
    width: 90%;
    margin-top: 22px;
    color: #fff;
    font-size: 25px;
    text-align: left;
}

.box i{
    margin-top: 5px;
    color: #fff;
    font-size: 35px;
}

/*FOOTER*/

footer{
    height: 100%;
    margin-top: 8px;
    background-color: #000;
}

footer .container{
    width: 66%;
    margin: auto;
}

footer .container p, .col a{
    font-size: 12px;
    text-decoration: none;
    color: #ffffff86;
}

footer .container p:first-of-type{
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 16px;
}

footer .container p:last-of-type{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.colunas{
    width: 100%;
    margin-bottom: 20px;
}

.col{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr;
    gap: 0 30px;
}

.col li{
    list-style: none;
    margin-bottom: 18px;
    font-size: 13px;
}

.col a:hover{
    text-decoration: underline;
}

#btn3{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px;
    z-index: 2;
}

#btn3 i{
    margin-top: 2px;
    font-size: 20px;
    margin-left: 5px;
}