:root{
    --vermelho: rgb(255, 17, 17);
    --cinza: rgb(36, 35, 35);
}

*{
    margin: 0;
    padding: 0;
    font-family:  Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

/*HEADER*/
header .container{
    width: 94%;
    margin: auto;
}

#fundo .container{
    width: 63%;
    margin: auto;
}

.container{
    width: 62%;
    margin: auto;
}

nav{
    margin-top: 22px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    height: 60px;
}

.logo img{
    width: 10.1%;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn1{
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 25px;
    padding: 7px;
    z-index: 2;
}

#btn2{
    font-weight: bold;
    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
    border-radius: 3px;
    color: white;
    margin-right: 30px;
    padding: 6px 13px;
}

#fundo{
    position: relative;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5) 100%), url(../img/fundoNetflix.jpg);
    height: 750px;
    width: 100%;
    overflow: auto;
    display: flex;
}

h1,p{
    color: white;
}

/*TEXT*/

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 83px;
}

.text h1{
    font-size: 62px;
    text-align: center;
    margin-bottom: 25px;
}

p:first-of-type{
    font-size: 25px;
    margin-bottom: 30px;
}

p:last-of-type{
    font-size: 18px;
    margin-bottom: 20px;
}

.email{
    display: flex;
    flex-direction: row-reverse;
}

.email input{
    position: relative;
    height: 7.5vh;
    width: 710px;
    font-size: 16px;
    font-weight: 500;
    color: #777;
}

.email button{
    background-color: var(--vermelho);
    box-shadow: 1px 2px 3px #111111;
    border: none;
    color: white;
    position: absolute;
    height: 7.5vh;
    width: 200px;
    font-size: 26px;
}

/*PROPAGANDA*/

.prop{
    margin-top: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.television, .celfone, .dispositivos, .questions{
    width: 100%;
    background-color: #000;
}

.television .left{
    margin-right: 25px;
}

.left, .right{
    margin: 30px;
}

.television, .celfone{
    height: 470px;
}

.television img{
    height: 390px;
    position: relative;
    z-index: 2;
}

.left h1, .right h1{
    font-weight: bold;
    font-size: 53px;
    margin-bottom: 10px;
}

.television .container .prop .right{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#video1{
    margin-top: 4%;
    margin-left: 3.5%;
    height: 217px;
    position: absolute;
}

.left p, .right p{
    width: 100%;
    font-size: 26px;
    text-align: left;
}

.celfone img{
    height: 390px;
}

.celfone .container .prop .left{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.imagem{
    position: relative;
}

.btnStringer{
    background-color: #000;
    position: absolute;
    display: flex;
    border-radius: 10px;
    height: 105px;
    width: 330px;
    border: 3px #333 solid;
    box-shadow: 0 0 2em 0 #000;
    transform: translateY(-30%);
}

.btnStringer::after{
    margin: auto;
    width: 3em;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    flex-shrink: 0;
}

.box_image, .text_box{
    margin: auto;
}

.btnStringer h4{
    color: white;
}

.btnStringer p{
    font-size: 15px;
}

.btnStringer img{
    height: 80px;
}

.dispositivos{
    height: 520px;
}

.dispositivos img{
    height: 400px;
    position: relative;
    z-index: 2;
}

#video2{
    height: 190px;
    position: absolute;
    margin-top: 43px;
    margin-left: 100px;
}

.dispositivos .left, .dispositivos .right{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}