:root{
    --vermelho: #E50914;
    --preto: #141414;
    --cinzaB: #AAA;
    --branco: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*ELEMENTOS BASE*/
body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: #fff;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

nav a{
    text-decoration: none;
    color: var(--cinzaB);
    margin-right: 10px;
}

nav a:hover{
    color: var(--branco);
}

/*FILME PRINCIPAL*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)100%), url('../img/capa-stranger-things.png');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    margin-top: 2%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

.botao{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

button i{
    margin-right: 5px;
}

.container{
    margin-right: 15px;
    margin-left: 30px;
}

.filme-principal .container{
    width: 60%;
}

.box-filme{
    height: 50%;
    width: 50%;
    display: block;
    
}

.carrosel-filmes{
    margin-top: 3px;
}